div(class="container mt-3")
    div(class="container mt-5")
        h1(class="text-primary")    Global_Weather
        p(class="") It is the project where we can find the weather of any place located globally. It is made using live API.