div(class="bg-light text-center")
    p(class="") &copy; Copyright 2022 Made by <a href="https://github.com/Kritika30032002" class=""> Kritika Gupta </a>
    a(href="https://www.linkedin.com/in/kritika-gupta-343458212", title="Linkedin_Image" style="border: none; margin-right: 1em;")  <img src="https://img.icons8.com/fluency/48/000000/linkedin.png" height="30px" width="30px" alt="linkedin_image" />
    a(href="https://github.com/Kritika30032002", title="Github_Image" style="border: none;margin-right: 1em;" class="btn" type="submit")    <img src="https://img.icons8.com/fluency/48/000000/github.png" alt="github_image" height="30px" width="30px" />

script(src="/scripts/script.js")
script(src="https://kit.fontawesome.com/54bad8fe75.js" crossorigin="anonymous")
script(src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js") 